<router-outlet></router-outlet>
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-sign-in></app-sign-in> -->












<!-- 

<div class="mat-display-4">This is mat-display-4</div>
<div class="mat-display-3">This is mat-display-3</div>
<div class="mat-display-2">This is mat-display-4</div>

<div>
  <button mat-button>Next</button>
  <button mat-flat-button>Next</button>
  <button mat-raised-button>Next</button>
  <button mat-stroked-button>Next</button>
</div>

<div>
  <button mat-icon-button>Next</button>
  <button mat-fab>Next</button>
  <button mat-mini-fab>Next</button>
</div>

<div>
  <button color="primary" mat-button>Next</button>
  <button color="accent" mat-button>Next</button>
  <button color="warn" mat-button>Next</button>
  <button color="primary" mat-raised-button>Next</button>
  <button color="accent" mat-raised-button>Next</button>
  <button color="warn" disableRipple mat-raised-button>Next</button>
</div> -->
<!-- <mat-form-field hideRequiredMarker appearance="legacy">
  <mat-label>Name</mat-label>
  <input matInput required/>
  <mat-hint align="end" >Usernmae</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput required/>
</mat-form-field> --> 